a  {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

body {
    background-color : #2F4562;
    margin: 0;
    font-family: 'Righteous', cursive;
    height: 100vh;
} 

