.boxImage{
    background-color:  rgba( 0,0,0,0.6);
    border: solid 2px #FFFF9D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 20px;
    width: 100px;
    padding: 20px;
}

.newButtonContainer {
    display: flex;
}
